* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.457);
    z-index: 999;
    animation: fromTop 2s ease-in-out;
}

@keyframes fromTop {
    0% {
        transform: translateY(-70px);
    }

    100% {
        transform: translateY(0px);
    }

}

.wrap-img {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo {
    width: 200px;
    height: auto;
    margin-top: 50px;
}

.wrap-links {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.wrap-links a {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
    transition: all 200ms ease-in-out;
}

.wrap-links a:hover {
    text-decoration: underline;
    color: #654fb8;
}

#s1 {
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromLeft 500ms ease-in-out;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100px) rotate(360deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;

    }
}

.right {
    width: 400px;
    animation: fromRight 2s ease-in-out;
}

@keyframes fromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;

    }

}

.wrap-turminha {
    border-radius: 999px;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.wrap-turminha img {
    width: 300px;
    height: auto;
    filter: grayscale(1);
    transition: all 200ms ease-in-out;
}


.wrap-turminha img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.right h1 {
    font-size: 48px;
    width: 100%;
}

.right p {
    font-size: 18px;
    width: 100%;
}

#s2 {
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;

}

.wrap-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.card {
    width: 400px;
    padding: 50px;
    border: 2px solid #3b7a57;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.card img {
    margin-bottom: 20px;
    transition: all 200ms linear;
    border-radius: 16px;
}

.card:hover img {
    transform: scale(1.2);
    box-shadow: 0px 3px 20px #09090976;
}

#s3 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}

#s3 iframe {
    width: 768px;
    height: 440px;
}

.wrap-video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s4 {
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;

}


.curiosidades {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.curiosidade {
    width: 500px;
}

.curiosidade img {
    width: 100%;
    border: 4px solid #d4a017;
    border-radius: 10px;
    padding: 3px;
  
}

@media (width <=780px) {
    nav {
        flex-direction: column;
        height: auto;
        padding-bottom: 15px;
    }

    .wrap-links a {
        text-align: center;
    }


    #s1 {
        flex-direction: column;
        padding-top: 140px;
        min-width: 50vh;
        height: auto;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        text-align: center;
    }

    .logo {
        width: 80px;
        height: 80px;
        margin-top: 0;
    }

    .wrap-turminha {
        width: 250px;
        height: 250px;
    }

    .wrap-turminha img {
        width: 250px;
        height: 250px;
    }

    #s3 {
        min-height: 50vh;
        width: auto;
        width: 100%;
    }

    #s3 iframe {
        width: 100%;
    }


}